body {
  background: url(https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?auto=compress&cs=tinysrgb&w=800);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid #fff;
  width: 450px;
  height: 270px;
  padding: 70px;
  background-color: rgba(135, 207, 235, 0.306);
  border-radius: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.city-name {
  margin-bottom: 20px;
  color: blue;
}

.weather-button {
  display: flex;
  justify-content: space-around;
}

.weather-button button {
  margin-right: 10px;
}